DATA FRAMES:-
Dataframes are two dimensional labelled data-structure.
Dataframes consist of rows and columns.
axis=0 means rows, axis=1 means columns

In [1]:
import pandas as pd

In [5]:
pd.DataFrame({'Names':['stud1','stud2','stud3']})

   Names
0  stud1
1  stud2
2  stud3

In [6]:
pd.DataFrame({'Names':['stud1','stud2','stud3'],'scores':[11,12,13]})

   Names  scores
0  stud1      11
1  stud2      12
2  stud3      13

In [8]:
df=pd.DataFrame({'Names':['stud1','stud2','stud3'],'scores':[11,12,13]})
df

   Names  scores
0  stud1      11
1  stud2      12
2  stud3      13

In [13]:
a=pd.Series('columns1')
b=pd.Series('columns2')
a
b

0    columns2
dtype: object

In [22]:
a = pd.Series([1,2,3,4],['a','b','c','d'])
a

a    1
b    2
c    3
d    4
dtype: int64

In [21]:
a = pd.Series([1,2,3,4])
b= pd.Series([5,6,7,8])
print(a,b)

0    1
1    2
2    3
3    4
dtype: int64 0    5
1    6
2    7
3    8
dtype: int64

In [25]:
import numpy as np

In [26]:
data1 = np.random.randint(1,10,5)
data2 = np.random.randint(1,10,5)
data1
data2

array([8, 1, 6, 6, 5])

In [27]:
data = {'one': data1, 'two':data2}

In [28]:
df1 = pd.DataFrame(data)
df1

   one  two
0    8    8
1    8    1
2    2    6
3    5    6
4    6    5

In [29]:
df.columns

Index(['Names', 'scores'], dtype='object')

In [30]:
df1.columns

Index(['one', 'two'], dtype='object')

In [31]:
df1['one']

0    8
1    8
2    2
3    5
4    6
Name: one, dtype: int64

In [32]:
df1['two']

0    8
1    1
2    6
3    6
4    5
Name: two, dtype: int64

In [ ]:
a = pd.Series(data,index=['a','b','c','d','e'])
df1 = pd.DataFrame(data)

In [36]:
s=pd.DataFrame(df1,index=['a','b','c','d','e'])
s

   one  two
a  NaN  NaN
b  NaN  NaN
c  NaN  NaN
d  NaN  NaN
e  NaN  NaN

In [53]:
df1 = pd.DataFrame(data,index=['a','b','c','d','e'])
df1

   one  two
a    8    8
b    8    1
c    2    6
d    5    6
e    6    5

In [42]:
df1[0:1]

   one  two
0    8    8

In [49]:
df1[2:3:1]

   one  two
2    2    6

In [50]:
df1.head(3)

   one  two
0    8    8
1    8    1
2    2    6

In [51]:
df1.tail(3)

   one  two
2    2    6
3    5    6
4    6    5

In [61]:
import numpy as np

In [72]:
a = np.random.randint(1,10,4)
b = np.random.randint(1,10,4)
c = np.random.randint(1,10,4)
a
b
c

array([1, 9, 9, 5])

In [79]:
data1 =pd.Series((a),index=['a','b','c','d'])
data2= pd.Series((b),index=['a','b','c','d'])
data3= pd.Series((c),index=['a','b','c','d'])

In [80]:
new= {'one': data1, 'two':data2,'three':data3}
new
pd.DataFrame(new)

   one  two  three
a    6    4      1
b    9    9      9
c    2    8      9
d    1    7      5

In [179]:
df = pd.DataFrame(np.random.randn(4,3),index=['a','b','c','d'],columns=['one','two','three'])
df

        one       two     three
a -0.134561 -0.095482  0.230999
b -0.940711  0.491907  0.584911
c -1.461307  1.085902 -0.392413
d  1.244976  0.708944 -0.148352

In [180]:
df = pd.DataFrame(np.random.randn(4,4),index=['a','b','c','d'],columns=['one','two','three','four'])
df['four']=0
df

        one       two     three  four
a  0.833423 -0.802206  0.372912     0
b  1.404796 -1.032116  2.152513     0
c -1.114225 -1.015000  0.370314     0
d  0.868422  1.121853  0.646714     0

In [87]:
a={1:'a',2:'b'}
a

{1: 'a', 2: 'b'}

In [88]:
a={1:'a',2:'b'}
a[1]

'a'

In [91]:
a={1:'a',2:'b'}
a[3]='c'
a

{1: 'a', 2: 'b', 3: 'c'}

In [226]:
df = pd.DataFrame(np.random.randn(4,4),index=['a','b','c','d'],columns=['one','two','three','four'])
df['four']=0
df

        one       two     three  four
a  2.368594 -0.116798 -0.996535     0
b -0.569189  0.860111 -1.097609     0
c -0.078523  1.381817  0.037057     0
d  0.154915  0.481198 -0.835398     0

In [227]:
df

        one       two     three  four
a  2.368594 -0.116798 -0.996535     0
b -0.569189  0.860111 -1.097609     0
c -0.078523  1.381817  0.037057     0
d  0.154915  0.481198 -0.835398     0

In [185]:
df[['one','two']]

        one       two
a -1.429325 -0.051064
b -0.818984 -1.417194
c  2.264111 -0.559832
d -1.574287 -2.381339

In [ ]:
df [two]>0.2

df

In [186]:
df[0:5:6]

        one       two     three  four
a -1.429325 -0.051064  0.937522     0

In [ ]:
df[['a','b']][['one','two','three']]

In [206]:
df.loc[['a','b']]

        one       two     three  four
a -1.429325 -0.051064  0.937522     0
b -0.818984 -1.417194  1.194174     0

In [225]:
df.loc['a']

KeyError: ignored

In [194]:
df.loc['a'][:2]

one   -1.429325
two   -0.051064
Name: a, dtype: float64

In [ ]:
df.loc[['a','b']]['one','two']

In [202]:
df.loc[['a','b']] [[0:2:3]]

SyntaxError: ignored

In [176]:
df[df['two'] >0.2]
df

        one       two     three  four
a -0.193634  1.377914 -2.901306     0
b  0.714181  0.528015  0.632356     0
c -1.575053 -1.950676 -0.393460     0
d  0.054506 -0.071654 -0.861091     0

In [ ]:
df['five']=df['one']*df['two']
df

In [131]:
e = np.random.randint(1,10,4)

In [ ]:
data1 =pd.Series((e),index=['a','b','c','d','e'])
daat1

In [136]:
df[0:5:6]

        one       two     three  four      five
a  1.455704  1.169162 -1.386801     0  1.701955

In [ ]:
df

In [139]:
df.loc['b'] # reperst a row in this way or taking row b values only by useing loc

one     -0.099115
two     -0.834925
three   -0.647902
four     0.000000
five     0.082753
Name: b, dtype: float64

In [ ]:
df.loc insert=[df][e]

In [203]:
df.loc['b'][[0]]

one   -0.818984
Name: b, dtype: float64

In [204]:
df.loc['b','c'][[1][2]]

KeyError: ignored

In [ ]:
df['six']=pd.mean['one','two','three']
df['seven']=pd.avg['one','two','three']

In [ ]:
# df['six']=np.mean['one','two','three']
df.append['six']
data1= data1.append(pd.Series([6,5])).reset_index(drop=True)

In [219]:
import pandas as pd

In [220]:
import numpy as np

In [ ]:
df

In [217]:
name = pd.Series(["amair","joy","sam"])
fees = pd.Series([22000,25000,23000])
df=pd.DataFrame([name,fees])
df

       0      1      2
0  amair    joy    sam
1  22000  25000  23000

In [216]:
df.iloc[:,:2]

       0      1
0  amair    joy
1  22000  25000

In [229]:
# df[['six','seven']] = np.mean(df.loc[:,['one','two','thre']],axis=1)
df[['six','seven']] = np.random.randn(4,2)

In [230]:
df

        one       two     three  four       six     seven
a  2.368594 -0.116798 -0.996535     0 -0.591015 -0.037026
b -0.569189  0.860111 -1.097609     0 -1.398296  0.785776
c -0.078523  1.381817  0.037057     0  0.540362  0.337727
d  0.154915  0.481198 -0.835398     0 -0.188640  1.055668

In [231]:
df.iloc[1:3,2:6]

      three  four       six     seven
b -1.097609     0 -1.398296  0.785776
c  0.037057     0  0.540362  0.337727

In [243]:
df=pd.read_csv('https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [234]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [235]:
df.tail(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16990,-124.22,41.73,28.0,3003.0,699.0,1530.0,653.0,1.7038,78300.0
16991,-124.23,41.75,11.0,3159.0,616.0,1343.0,479.0,2.4805,73200.0
16992,-124.23,40.81,52.0,1112.0,209.0,544.0,172.0,3.3462,50800.0
16993,-124.23,40.54,52.0,2694.0,453.0,1152.0,435.0,3.0806,106700.0
16994,-124.25,40.28,32.0,1430.0,419.0,434.0,187.0,1.9417,76100.0
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [236]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [237]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [239]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
# 10 center rows for lattitude,housing median age,total rooms?

In [ ]:
df.iloc(n/2-5)(n/2+5)

In [259]:
n=17000
# df.iloc((n/2)-5)
# print((n/2)-5) 8495.0
# print((n/2)+5)   8505.0
df.iloc[8495:8505]
df.iloc[8495:8505,1:4]

      latitude  housing_median_age  total_rooms
8495     34.24                35.0       2707.0
8496     34.24                34.0       1971.0
8497     34.23                32.0       4373.0
8498     34.22                30.0       1756.0
8499     34.21                25.0       1131.0
8500     34.20                35.0       1109.0
8501     34.19                23.0       2087.0
8502     34.18                31.0       3073.0
8503     34.16                37.0       3333.0
8504     34.15                33.0       2829.0